body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey;
    padding: 30px;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;
    /*animation-name: animationtest;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 3s;*/

    &--main{
        display: block;
        font-size: 6.2rem;
        font-weight: 400;
        letter-spacing: 15px;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 18px;
        animation: moveInRight 1s ease-out;
    }
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    cursor: pointer;
    background-image: linear-gradient(to right,$color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;

    transition: all .2s; 

    &:hover{
        transform: skewY(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2) 
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
     }
}
